<a href="https://colab.research.google.com/github/AbrahamKong/CMPE256-Apriori_Assignment/blob/main/CMPE_256_Apriori_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [48]:
import pandas as pd
import numpy as np
from apyori import apriori

In [49]:
df = pd.read_csv("https://ghcdn.rawgit.org/AbrahamKong/CMPE256-Apriori_Assignment/main/TRAIN-ARULES.csv")
df.head()

   order_id  user_id                              product_name
0      1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1      1483       90                      Dark Chocolate Minis
2      1483       90   Sparkling Water, Natural Mango Essenced
3      1483       90                Peach-Pear Sparkling Water
4      1483       90            Organic Heritage Flakes Cereal

In [50]:
# transform data set to meet the apriori function requirements

# Group data by order_id as instruction
# Transfer product names into a list for each transaction
df_grouped = df.groupby(by = ['order_id'])['product_name'].apply(list).reset_index(name='product_name')

In [51]:
# Unpack list into their own column
df_grouped = df_grouped['product_name'].apply(pd.Series)
print(df)

       order_id  user_id                              product_name
0          1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1          1483       90                      Dark Chocolate Minis
2          1483       90   Sparkling Water, Natural Mango Essenced
3          1483       90                Peach-Pear Sparkling Water
4          1483       90            Organic Heritage Flakes Cereal
...         ...      ...                                       ...
12958   3413579       84                           Organic Avocado
12959   3413579       84                                 Guacamole
12960   3413579       84       Thin And Crispy Corn Tortilla Chips
12961   3413579       84                    Original Veggie Straws
12962   3413579       84             Organic Wheat Square Crackers

[12963 rows x 3 columns]

In [52]:
# Trasform dataframe into a list to meet the apriori requirements
data = df_grouped.astype(str).values.tolist()

In [53]:
# remove mull value from each row
data = [[ele for ele in sub if ele != 'nan'] for sub in data]

In [54]:
# Apply apriori algorithm
association_rules = apriori(transactions = data, min_support=0.0045) 
association_results = list(association_rules)
result = pd.DataFrame(association_results)

In [55]:
# numbers of tid

print(len(association_results))

1492

In [56]:
result.head()

                                               items  ...                                 ordered_statistics
0                         (0% Greek Strained Yogurt)  ...  [((), (0% Greek Strained Yogurt), 0.0098730606...
1                         (100% Juice, Variety Pack)  ...  [((), (100% Juice, Variety Pack), 0.0049365303...
2  (100% Premium Select Not From Concentrate Pure...  ...  [((), (100% Premium Select Not From Concentrat...
3                       (100% Recycled Paper Towels)  ...  [((), (100% Recycled Paper Towels), 0.00564174...
4                                    (1500 Pale Ale)  ...  [((), (1500 Pale Ale), 0.014809590973201692, 1...

[5 rows x 3 columns]

In [57]:
result['ordered_statistics'][0]

[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'0% Greek Strained Yogurt'}), confidence=0.009873060648801129, lift=1.0)]