<a href="https://colab.research.google.com/github/AbrahamKong/CMPE256-Apriori_Assignment/blob/main/CMPE_256_Apriori_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
df = pd.read_csv("/content/sample_data/TRAIN-ARULES.csv")
df.head()

   order_id  user_id                              product_name
0      1483       90  Organic Pink Lemonade Bunny Fruit Snacks
1      1483       90                      Dark Chocolate Minis
2      1483       90   Sparkling Water, Natural Mango Essenced
3      1483       90                Peach-Pear Sparkling Water
4      1483       90            Organic Heritage Flakes Cereal

In [12]:
dt = pd.read_csv("/content/sample_data/testarules.csv")
dt.head()

<bound method NDFrame.head of                   Item1                                     Item2  ... Item4  Item5
0  Dark Chocolate Minis  Organic Pink Lemonade Bunny Fruit Snacks  ...   NaN    NaN

[1 rows x 5 columns]>

In [13]:
# find if value == null

df.apply(lambda x: sum(x.isnull()),axis=0)

order_id        0
user_id         0
product_name    0
dtype: int64

In [18]:
# Use Pandas to do one-hot encoding
one_hot = pd.get_dummies(df['product_name'])
# Drop column B as it is now encoded
df = df.drop('product_name',axis = 1)
# Join the encoded df
df = df.join(one_hot)

df.head

<bound method NDFrame.head of        order_id  ...  smartwater® Electrolyte Enhanced Water
0          1483  ...                                       0
1          1483  ...                                       0
2          1483  ...                                       0
3          1483  ...                                       0
4          1483  ...                                       0
...         ...  ...                                     ...
12958   3413579  ...                                       0
12959   3413579  ...                                       0
12960   3413579  ...                                       0
12961   3413579  ...                                       0
12962   3413579  ...                                       0

[12963 rows x 3543 columns]>

In [33]:
df.columns

Index(['order_id', 'user_id', '0% Fat Free Organic Milk',
       '0% Greek Strained Yogurt', '0% Greek, Blueberry on the Bottom Yogurt',
       '1 Apple + 1 Pear Fruit Bar', '1 Liter',
       '1 Step Kashmir Spinach Indian Cuisine', '1% Lowfat Milk', '1% Milk',
       ...
       'Zero Calorie Cola Soda', 'Zero Calorie Lemon Lime Soda',
       'Zero Calorie Tonic Water', 'Zero Go-Go Mixed Berry Vitamin Water',
       'Zero Soda', 'Zero Vitamin Water',
       'Zero XXX Acai Blueberry Pomegranate', 'Zucchini Noodles',
       'Zucchini Squash', 'smartwater® Electrolyte Enhanced Water'],
      dtype='object', length=3543)

In [34]:
frequent_items = apriori(df, min_support = 0.0045, use_colnames = True)

ValueError: ignored

In [ ]:
rules = association_rules(frequent_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())